beautifulsoup4==4.13.4
gymnasium==1.1.1
matplotlib==3.10.3
numpy==2.2.6
pandas==2.2.3
python-dotenv==1.1.0
python_dateutil==2.9.0.post0
pytz==2025.2
rapidfuzz==3.13.0
Requests==2.32.3
scikit_learn==1.6.1
seaborn==0.13.2
selenium==4.33.0
SQLAlchemy==2.0.41
stable_baselines3==2.6.0
xgboost==3.0.2
